body.bg {
  margin:0;
  font-family: Arial;
  background:#f3f3f3;
}

.login-card {
  width:300px;
  margin:150px auto;
  padding:20px;
  background:white;
  border-radius:20px;
  text-align:center;
}

input, textarea {
  width:90%;
  padding:10px;
  margin:10px;
  border-radius:10px;
  border:1px solid #ddd;
}

button {
  background:green;
  color:white;
  border:none;
  padding:10px 15px;
  border-radius:10px;
  margin:5px;
}

.topbar {
  display:flex;
  justify-content:space-between;
  padding:15px;
  background:white;
}

.post {
  background:white;
  margin:15px;
  padding:15px;
  border-radius:15px;
}

.post img {
  width:100%;
  border-radius:10px;
}

.card {
  width:300px;
  margin:100px auto;
  background:white;
  padding:20px;
  border-radius:20px;
  text-align:center;
}

.profile-card {
  width:300px;
  margin:50px auto;
  background:white;
  padding:20px;
  border-radius:20px;
  text-align:center;
}

.avatar {
  width:80px;
  border-radius:50%;
}

.gallery {
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:5px;
}

.gallery img {
  width:100%;
  border-radius:10px;
}